---
---

<footer class="text-center">
    <p style="size:1rem">Made with <a href="https://astro.build"><img style='display:inline' src="/astro.svg" alt="astro logo" width="16" height="16"/></a> by <a href="https://github.com/Xolgrunek">Xol</a></p>
</footer>