---
---

<div class="twitch" id="twitch">
    <div class="twitch-video">
      <iframe
      src="https://player.twitch.tv/?channel=zrekae&parent=zrekae.tv&muted=false"
      frameborder="0"
      scrolling="no"
      allowfullscreen="true"
      height="100%%"
      width="100%"
      allowfullscreen>
  </iframe>
    </div>
    <div class="twitch-chat">
      <iframe 
          frameborder="0"
          scrolling="no"
          src="https://www.twitch.tv/embed/zrekae/chat?darkpopout&parent=zrekae.tv"
          height="100%"
          width="100%">
  </iframe>
  </div>